@font-face {
font-family: "Bariol";
src: url("../fonts/Bariol_Regular.otf") format("opentype");
}
/*
*
*
****************************HEADER****************
*
*
*/
body {
    font-family: 'Bariol', sans-serif;
    font-style:	normal;
}
.navigation {
    background-color: #eb4f4e;
    width: 100%;
    height: 746px;
}

.navigation-top{
    background-image: url(../img/bg/header-top-bg.png);
    background-size: cover;
    height: 121px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo {
    position: relative;
    width: 165px;
    height: 63px;
    margin-left: 300px;
    
}
.logo-title {
    display: inline-block;
    text-shadow: 0 1px 1px #c34b2a;
    color: #ffffff;
    font-size: 35px;
    font-weight: bold;
    line-height: 28px;    
    position: absolute;
    margin: auto;
    top: 12px;
    left: 57px;
    letter-spacing: 2.1px;
}
.logo-sup-title {
    display: inline-block;
    color: #ffffff;
    width: 165px;
    height: 16px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.68px;
    position: absolute;
    top: 27px;
    left: 3px;
}
.logo-title:before {
    position: absolute;
	left: -52px;
    top: -9px;
	content: "";
	display: block;
	width: 47px;
	height: 36px;
	background-image: url(../img/Header/logo-icon.svg);
	background-size: cover;
	background-position: center;
}


.navigatin-top-bar {
    margin-right: 275px;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    margin-right: 20px;
    width: 70px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
.nav-link:first-child {
    background-color: #232324;
}
.nav-link:hover {
    background-color: #232324;
    transition: 2s;
}
.nav-link:last-child {
    margin-right: 0;
}
.nav-link > a {
    text-decoration: none;
    color: white;
    font-family: "Arial - Bold MT";
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.32px;
}

/**
*
*
*
*
Slider*
*
*
*
*
*/
.navigation-bottom {
    
}
.navigation-bottom > h1 {
    text-shadow: 0 1px 1px #c34b2a;
    color: #ffffff;
    font-size: 60px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 9px;
    text-align: center;
    margin-top: 60px;
    
}
.navigation-bottom > p {
    text-shadow: 0 1px 1px #c34b2a;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 1.2px;
    text-align: center;
    margin-top: 28px;
}
.slider{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.main__slider {
    width: 950px;
	height: 431px;
/*    margin: auto;*/
    /*border: 1px solid black;*/
    position: relative;
}
.smartphone-slider-image{
    position: absolute;
    z-index: 4;
    
}
.slide1 {
    background-image: url(../img/Header/safari-browser-screen.jpeg);
    z-index: 3;
    position: absolute;
    left: 165px;
    right: 165px;
    box-shadow: 0 2px 6px rgba(0, 0, 1, 0.35), 0 0 20px rgba(0, 0, 0, 0.23);
   /* border: 1px solid rgba(0, 0, 0, 0);*/
    width: 621px;
	height: 431px;
    border-radius: 6px;
}
.slide1 > img {
    margin-top: 70px;
    margin-left: 538px;
}
.slide2 {
    background-image: url(../img/Header/safari-browser-screen-left.jpeg);
    position: absolute;
    left: 0;
    top: 57px;
    box-shadow: 0 2px 6px rgba(0, 0, 1, 0.35), 0 0 20px rgba(0, 0, 0, 0.23);
   /* border: 1px solid rgba(0, 0, 0, 0);safari-browser-screen-left.jpeg*/
    width: 498px;
	height: 346px;
    border-radius: 6px;
}
.slide3 {
    background-image: url(../img/Header/safari-browser-screen-right.jpeg);
    position: absolute;
    right: 0;
    top: 57px;
    box-shadow: 0 2px 6px rgba(0, 0, 1, 0.35), 0 0 20px rgba(0, 0, 0, 0.23);
   /* border: 1px solid rgba(0, 0, 0, 0);*/
    width: 498px;
	height: 346px;
    border-radius: 6px;
}
.slider-arrow-prev{
    margin-left: 180px;
    margin-bottom: 180px;
/*    align-self: flex-end;*/
}
.slider-arrow-next{
/*    align-self: flex-end;*/
    margin-right: 180px;
    margin-bottom: 180px;
}
/**
*
*
*
*
HEADER END
*
*
*
*
*/

/*
*
*
***********************Main****************
*
*
*/


.merits {
    width: 100%;
    height: 368px;
    background-color: #232324;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
}
.merits > h2{
    display: inline-block;
    color: #ffffff;
    margin: 43px 0 0 0;
    font-size: 40px;
    font-weight: bold;
/*    line-height: 24px;*/
    letter-spacing: 6.4px;
}
.merits > p{
    display: inline-block;
    color: #d94948;
    margin: 6px 0 40px 0;
    font-size: 20px;
    font-weight: 400;
/*    line-height: 24px;*/
    letter-spacing: 1.2px;
}
.merits__wrapper{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 845px;
}
.merits__item{
    width: 228px;
    height: 194px;
    position: relative;
    
}
.merits__item > img{
    position: absolute;
    left: 63px;
    
}
.merits__item > h3{
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.9px;
    position: absolute;
    bottom: 47px;
    margin: 0;
    
}
.merits__item > p{
    color: #e74c3c;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    letter-spacing: 0.72px;
    position: absolute;
    text-align: center;
    bottom: 0;
    margin: 0;
    
}
.merits__item1 > h3{
/*    background-color: greenyellow;*/
    left: 28px;
}
.merits__item2 > h3{
/*    background-color: yellowgreen*/
    left: 70px;
}
.merits__item3 > h3{
/*    background-color: gold*/
    left: 17px;
}

/*
*
*
*
*
*
*
*Merits End
*
*
*
*
*
*/
/*
*
*
*
*Team*
*
*
*
*
*/

/* Style for "bg" */


.team {
    width: 100%;
    height: 515px;
    background-color: #6cc372;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}
.team > h2{
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 6.4px;
    margin: 43px 0 0 0;
}
.team > p{
    color: #232324;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "This is ou" */
    letter-spacing: 1.2px;
    margin: 12px 0 40px 0;
}

.team__wrapper{
    display: flex;
    width: 950px;
    flex-direction: row;
    justify-content: space-between;
}

.team__member{
    /* Style for "Shape 88 c" */
    width: 226px;
    height: 341px;
    background-color: #ffffff;
    border-radius: 5px;
    position: relative;
}

.team__member > img {
    /* Style for "Elipse" */
/*    width: 164px;*/
/*    height: 164px;*/
/*    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15), inset 0 1px 1px rgba(0, 0, 0, 0.4);*/
    background-color: #6cc372;
    border-radius: 100px;
    padding: 10px;
    position: absolute;
    top: 25px;
    left: 31px;
    
    
}

.team__member > p {
/*
    position: absolute;
    bottom: 107px;
    left: 10px;
*/
    margin: 211px 0 0 0;
    text-align: center;
    color: #61af66;
    font-size: 25px;
    font-weight: 400;
    line-height: 24px;
    /* Text style for "M, ahmoud" */
    letter-spacing: 0.25px;
}
.team__member > p + p {
/*
    position: absolute;
    bottom: 76px;
    left: 31px;
*/
    margin: 13px 0 0 0;
    text-align: center;
    color: #e74c3c;
    font-size: 18px;
    font-weight: bold;
    line-height: 21px;
    /* Text style for "S, enior A" */
    letter-spacing: 0.72px;
}

.twitter__follow {
    width: 204px;
    height: 43px;
    background-color: #6cc372;
    font-family: Bariol;
    border-radius: 5px;
    position: absolute;
    bottom: 11px;
    left: 11px;
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 2.5px;
    border-width: 0;
}
.twitter__follow::before {
    content: "";
    background-image: url(../img/icons/twitter-icon.svg);
    width: 32px;
    height: 26px;
    position: absolute;
    left: 10px;
    top: 8px;
}

/*
*
*
*
*Team END*
*
*
*
*
*/


/*
*
*
*
*Portfolio START*
*
*
*
*
*/





.portfolio {
    width: 100%;
    height: 418px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f0f0f0;
}
.portfolio > h2 {
    display: inline-block;
    color: #616161;
    font-size: 40px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 6.4px;
    margin: 42px 0 0 0;
    
    
}
.portfolio > p {
    display: inline-block;
    color: #61af66;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 1.2px;
    margin: 12px 0 33px 0;
    
}

.carousel__wrapper{
    width: 1000px;
    height: 150px;
    margin-left: 50px;

}
.item {
    margin-right: 50px;
    color: #232324;
    font-size: 21px;
    font-weight: bold;
    line-height: 56.37px;
    text-align: center;
}

.item > img{
    width: 200px;
    height: 150px;
    border-radius: 5px;
}
div.owl-dots {
    margin: -30px 0 0 -58px;
}

.owl-prev > span{
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 25px;
    background-image: url(../img/Portfolio/arrow-green-prev.svg);
    left: -120px;
    bottom: 150px;
    
}
.owl-next > span{
    position: absolute;
    display: inline-block;
    width: 15px;
    height: 25px;
    background-image: url(../img/Portfolio/arrow-green-next.svg);
    right: -50px;
    bottom: 150px;

}
.owl-dots > button.owl-dot.active:focus > span {
    background-color: #6cc372;
}


/*
*
*
*
*Portfolio END*
*
*
*
*
*/


/*
*
*
*
*Pricing Strart
*
*
*
*
*/

.pricing {
    width: 100%;
    background-image: url(../img/Pricing/bg-pricing.png);
    background-repeat: repeat-x;
    background-color: #ffffff;
    
}
.pricing__wrapper {
    width: 950px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}
.pricing__card {
    width: 300px;
    background-color: #f0f0f0;
    color: white;
    
}

.pricing__card__top{
    height: 111px;
    background-color: white;
    border-bottom: 1px solid #d8d8d8;
    position: relative;
    margin-top: 30px;
}
.pricing__card:hover > .pricing__card__top{
    height: 141px;
    margin-top: 0;
    transition: 0.2s;
}
.pricing__card__top > h3 {
    margin: auto;
    text-align: center;
    /* Style for "Standard" */
    color: #616161;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 2.4px;
    padding-top: 20px;
    
}
.pricing__card:hover > .pricing__card__top > h3{
    color: #eb4f4e;
}

.pricing__card__top > p {
    margin: auto;
    text-align: center;
    color: #eb4f4e;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    padding-top: 0;
}

.pricing__card:hover > .pricing__card__top > p{
    color: #232324;
    padding-top: 10px;
    
    
}

.pricing__card__top + ul{
    background-color: #f0f0f0;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    border-top: 1px solid white;
}

.pricing__card__top + ul > li{
    height: 50px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 0 #ffffff;
    
/*    padding-top: 20px;*/
}
.pricing__card__top + ul > li > p{
    color: #616161;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 0.72px;
    text-align: center;
    margin: 0;
    padding: 20px;
    
}

.pricing__order {
    height: 94px;
    background-color: #616161;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.pricing__card:hover > .pricing__order {
    background-color: #eb4f4e;
    transition: 0.2s;
}
.pricing__order > p{
    margin-top: 0;
    font-family: 'Maven Pro', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin: 0;
    position: relative;
    margin-left: 26px;

}
.pricing__order > p > span{
    font-size: 32px;
    font-weight: 500;
    position: absolute;
    display: inline-block;
    left: -18px;
    top: 20px;
    
}
.pricing__order > p > span + span{
    font-size: 25px;
    font-weight: 400;
    position: absolute;
    display: inline-block;
    left: 81px;
    top: 33px;
    
}
.pricing__order > button {
    width: 93px;
    height: 33px;
    background-color: #ffffff;
    color: #eb4f4e;
    font-family: Bariol;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1.26px;
    border-radius: 2px;
    border-width: 0;
    margin-right: 10px;
}

.pricing__order > button {
    color: #616161;
    
}
.pricing__card:hover > .pricing__card__top > p::before {
    display: block;
    content: "";
    width: 30px;
    height: 31px;
    background-image: url(../img/Pricing/flower-icon.svg);
    position: absolute;
    top: 126px;
    left: 135px;
}
.pricing__card__top > p::before {
    display: none;
}

.pricing + p{
    color: #eb4f4e;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-align: center;
    margin-bottom: 30px;
}


/*
*
*
*
*Pricing End
*
*
*
*
*/



/*
*
*
*
*Twitter Start
*
*
*
*
*/



.twitter {
        /* Style for "bg copy 2" */
    width: 100%;
    height: 278px;
    background-color: #eb4f4e;
}
.twitter > h2 {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 6.4px;
    text-align: center;
    box-sizing: content-box;
    height: 28px;
    padding-top: 45px;
    margin: 0;
}

.twitter > p {
    color: #232324;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1.2px;
    text-align: center;
    height: 20px;
    margin-bottom: 0;
    padding-bottom: 24px;
}

.twitter__carousel__wrapper{
    margin: auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}


.twitter__carousel{
    width: 947px;
    height: 108px;
    margin: auto; 
}


#twitter__bird {
    width: 32px;
    height: 26px;
    margin: auto;
    padding-bottom: 20px;
}


.item1 {
    margin-right: 0;
    color: #1f1f20;
    font-size: 21px;
    font-weight: 400;
    font-style: italic;
    text-align: left;
    line-height: 36px;
    
}

.item1 > span {
    color: white;
    
}


.twitter__owl-next {
    margin-top: -10px;
    background: none;
    padding: 0;
    border: 0;

}

.twitter__owl-prev{
    margin-top: -10px;
    background: none;
    padding: 0;
    border: 0;
}

/*
*
*
*
*Twitter End
*
*
*
*
*/



/*
*
*
*
*Footer Start
*
*
*
*
*/

footer {
    width: 100%;
    height: 300px;
}
.footer__top {
    height: 48px;
    background-color: #232324;
}
.footer__top__wrapper{
    margin: auto;
    width: 950px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer__top__wrapper > p:not(social__icons){
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
/*    text-align: left;*/
    display: inline-block;
}
.footer__top__wrapper > p > span{
    color: #eb4f4e;
    }
.social__icons{
    display: inline-block;
}
.social__icons > a{
    background-color: #eb4f4e;
    border-radius: 2px;
    margin-right: 8px;
    text-decoration: none;
    width: 28px;
    height: 30px;
    padding: 3px 4px 3px 5px;
    vertical-align: middle;
    
}
.social__icons > a > img {
    /* Style for "rss" */
}
.social__icons > a:last-child{
    margin-right: 0;
}

.footer__bottom {
    height: 299px;
    box-shadow: inset 0 0 24px rgba(0, 0, 0, 0.25);
    background-image: url(../img/bg/bg-map.jpeg);
    
}
.contactus{
    height: 150px;
    width: 615px;
    background-color: black;
    opacity: 0.7;
    color: #eb4f4e;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0.6px;
    margin: auto;
    vertical-align: middle;
}
.contactus > span {
    color: #ffffff;
    font-size: 30px;
}
    

/*
*
*
*
*Footer End
*
*
*
*
*/
